{
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "html", "ruby", "sql", "java", "python", "plsql"],
      "plugins": ["line-numbers", "show-language", "copy-to-clipboard", "toolbar", "autoloader"],
      "theme": "okaidia",
      "css": true
    }]
  ]
}