.col-md-8.col-md-offset-1.dashboard-main-content
  %div{'data-animation': "fadeInUp-fadeOutDown"}
    .heading-container
      %h3.heading-title
        =@user.full_name
        Posts

  .posts-wrapper{'data-behavior': "endless-scroll", 'data-animation': "fadeInUp-fadeOutDown"}
    = render @posts
  = will_paginate @posts
