.stay-in-touch-area.mt-5
  .section-title
    %h3 Stay In Touch
  .stay-in-touch-box
    .single-touch-col
      %a.single-touch.youtube{:href => "https://www.youtube.com/channel/UCnsK1dkFytRoVywmcRBu6Rg?sub_confirmation=1", target: '_blank'}
        .touch-socail-icon
          %i.fab.fa-youtube
        -#%p.touch-title 5,685K
    .single-touch-col
      %a.single-touch.instagram{:href => "https://www.instagram.com/loonietales", target: '_blank'}
        .touch-socail-icon
          %i.fab.fa-instagram
        -#%p.touch-title 5,685K
    .single-touch-col
      %a.single-touch.facebook{:href => "https://www.facebook.com/loonietales", target: '_blank'}
        .touch-socail-icon
          %i.fab.fa-facebook
        -#%p.touch-title 6,97K+


