.ratio.ratio-16x9
  %iframe{:allowfullscreen => "", :src => "https://www.youtube.com/embed/#{data[:id]}", :title => "YouTube video", rel: '0', allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"}