=render partial: 'shared/banner_heading', locals: {heading: 'Know your NOC'}


.container.mt-4
  .row.immigration-calc-description
    .col-md-9
      .info
        %p
        %p
          %strong Alert!
          This table is for your convenience. If any part conflicts with information on the
          = succeed "," do
            %a{:href => "https://noc.esdc.gc.ca/", target: '_blank'} official NOC website
      %table.table.table-striped.table-bordered{id: 'noc-table'}
        %thead
          %tr
            %th Code
            %th Title
            %th Skill type

        %tbody
          - @nocs.each do |noc|
            %tr
              %td
                =link_to to4Chas(noc['NOC']), "https://www23.statcan.gc.ca/imdb/p3VD.pl?CLV=4&CPV=#{to4Chas(noc['NOC'])}&CST=01012011&CVD=122376&Function=getVD&MLV=4&TVD=122372", target: '_blank'

              %td= noc['Title']
              %td= noc['Skill level or type']
      %br
    .col-md-3
      =render partial: 'shared/sidebar-menu', locals: {heading: 'TOOLS', list: calculators_list }


:javascript
  $(document).ready(function() {
    $('#noc-table').dataTable({
      "stripeClasses":["even","odd"],
      "pagingType":"simple",
      "pageLength": 50,
    })
  });

