= react_component('crs/Main')
%h3{:id => ""} Human Capital Factors
%h4{:style => "padding-top: 60px; margin-top: -60px;"} Age
.row
  .col-md-6
    %table.table-responsive.table
      %thead
        %tr.row-1.odd
          %th.column-1 Age (in years)
          %th.column-2 Single candidate
          %th.column-3 With an accompanying spouse/partner
      %tbody.row-hover
        %tr.row-2.even
          %td.column-1 under 18
          %td.column-2 0 points
          %td.column-3 0 points
        %tr.row-3.odd
          %td.column-1 18
          %td.column-2 99
          %td.column-3 90
        %tr.row-4.even
          %td.column-1 19
          %td.column-2 105
          %td.column-3 95
        %tr.row-5.odd
          %td.column-1 20-29
          %td.column-2 110
          %td.column-3 100
        %tr.row-6.even
          %td.column-1 30
          %td.column-2 105
          %td.column-3 95
        %tr.row-7.odd
          %td.column-1 31
          %td.column-2 99
          %td.column-3 90
        %tr.row-8.even
          %td.column-1 32
          %td.column-2 94
          %td.column-3 85
        %tr.row-9.odd
          %td.column-1 33
          %td.column-2 88
          %td.column-3 80
        %tr.row-10.even
          %td.column-1 34
          %td.column-2 83
          %td.column-3 75
        %tr.row-11.odd
          %td.column-1 35
          %td.column-2 77
          %td.column-3 70
        %tr.row-12.even
          %td.column-1 36
          %td.column-2 72
          %td.column-3 65
        %tr.row-13.odd
          %td.column-1 37
          %td.column-2 66
          %td.column-3 60
        %tr.row-14.even
          %td.column-1 38
          %td.column-2 61
          %td.column-3 55
        %tr.row-15.odd
          %td.column-1 39
          %td.column-2 55
          %td.column-3 50
        %tr.row-16.even
          %td.column-1 40
          %td.column-2 50
          %td.column-3 45
        %tr.row-17.odd
          %td.column-1 41
          %td.column-2 39
          %td.column-3 35
        %tr.row-18.even
          %td.column-1 42
          %td.column-2 28
          %td.column-3 25
        %tr.row-19.odd
          %td.column-1 43
          %td.column-2 17
          %td.column-3 15
        %tr.row-20.even
          %td.column-1 44
          %td.column-2 6
          %td.column-3 5
        %tr.row-21.odd
          %td.column-1 45 or older
          %td.column-2 0
          %td.column-3 0



.block-content-block
  %h4#level_of_education{:style => "padding-top: 60px; margin-top: -60px;"} Level of education
  %p Up to 150 points are available for level of education under the Express Entry Comprehensive Ranking System.
  %table.table-responsive.table
    %thead
      %tr.row-1.odd
        %th.column-1 Level of education
        %th.column-2 Single candidate
        %th.column-3 With an accompanying spouse/partner 
    %tbody.row-hover
      %tr.row-2.even
        %td.column-1 Less than secondary (high) school credential
        %td.column-2 0 points
        %td.column-3 0 points
      %tr.row-3.odd
        %td.column-1 Secondary school credential
        %td.column-2 30
        %td.column-3 28 for PA; 2 for spouse
      %tr.row-4.even
        %td.column-1 One-year post-secondary program
        %td.column-2 90
        %td.column-3 84 for PA; 6 for spouse
      %tr.row-5.odd
        %td.column-1 Two-year post-secondary program
        %td.column-2 98
        %td.column-3 91 for PA; 7 for spouse
      %tr.row-6.even
        %td.column-1 Post-secondary program of 3 or more years
        %td.column-2 120
        %td.column-3 112 for PA; 8 for spouse
      %tr.row-7.odd
        %td.column-1 Two or more post-secondary programs, of which at least one was completed after a post-secondary program of three or more years
        %td.column-2 128
        %td.column-3 119 for PA; 9 for spouse
      %tr.row-8.even
        %td.column-1 Master's or entry-to-practice professional degree
        %td.column-2 135
        %td.column-3 126 for PA; 10 for spouse
      %tr.row-9.odd
        %td.column-1 Doctoral Degree (PhD)
        %td.column-2 150
        %td.column-3 140 for PA; 10 for spouse
  %h4#first-language-ability{:style => "padding-top: 60px; margin-top: -60px;"} First Language Ability (English or French)
  %p Comprehensive Ranking System points in this chart are for each language ability: speaking, writing, reading and listening. Therefore, a single candidate may receive up to 136 points (34×4); a candidate with an accompanying spouse or partner may receive up to 148 points (32×4 plus 5×4).
  %p
    Points for language are awarded only if a candidate completes an
    = succeed "." do
      %a{:href => "https://moving2canada.com/approved-language-tests-canadian-immigration/"} approved language test
    = succeed "." do
      %a{:href => "https://moving2canada.com/canadian-language-benchmark-clb/"} Canadian Language Benchmark levels (CLBs)
  %p
    Moving2Canada readers can take advantage of a seven-day free trial of online language tutorials. Simply select to
    %a{:href => "https://moving2canada.com/learn-english/"} Learn English
    or
    %a{:href => "https://moving2canada.com/learn-french/"} Learn French
    and complete the online form.
  %table.table-responsive.table
    %thead
      %tr.row-1.odd
        %th.column-1 Canadian Language Benchmark (CLB)
        %th.column-2 Single candidate
        %th.column-3 With an accompanying spouse/partner
    %tbody.row-hover
      %tr.row-2.even
        %td.column-1 For each language ability
        %td.column-2 34 points
        %td.column-3 32 points for PA; 5 points for spouse
      %tr.row-3.odd
        %td.column-1 CLB 3 or lower
        %td.column-2 0
        %td.column-3 0
      %tr.row-4.even
        %td.column-1 CLB 4
        %td.column-2 6
        %td.column-3 6 for PA; 0 for spouse
      %tr.row-5.odd
        %td.column-1 CLB 5
        %td.column-2 6
        %td.column-3 6 for PA; 1 for spouse
      %tr.row-6.even
        %td.column-1 CLB 6
        %td.column-2 9
        %td.column-3 8 for PA; 1 for spouse
      %tr.row-7.odd
        %td.column-1 CLB 7
        %td.column-2 17
        %td.column-3 16 for PA; 3 for spouse
      %tr.row-8.even
        %td.column-1 CLB 8
        %td.column-2 23
        %td.column-3 22 for PA; 3 for spouse
      %tr.row-9.odd
        %td.column-1 CLB 9
        %td.column-2 31
        %td.column-3 29 for PA; 5 for spouse
      %tr.row-10.even
        %td.column-1 CLB 10 or higher
        %td.column-2 34
        %td.column-3 32 for PA; 5 for spouse

  %h4#second-language-ability{:style => "padding-top: 60px; margin-top: -60px;"} Second Language Ability (English or French)
  %p Points in this chart are for each language ability: speaking, writing, reading and listening.
  %p Up to 24 points are available for a single candidate’s second language ability. Candidates with a spouse/partner “max out” their points for second language ability at 22 points, even if they get results of CLB 9 or higher in all abilities. The spouse/partner is only assessed under his or her first language.
  %table.table-responsive.table
    %thead
      %tr.row-1.odd
        %th.column-1 Canadian Language Benchmark (CLB)
        %th.column-2 Single candidate
        %th.column-3 With an accompanying spouse/partner (up to 22 points only)
    %tbody.row-hover
      %tr.row-2.even
        %td.column-1 For each language ability
        %td.column-2 6
        %td.column-3 6
      %tr.row-3.odd
        %td.column-1 CLB 4 or lower
        %td.column-2 0
        %td.column-3 0
      %tr.row-4.even
        %td.column-1 CLB 5 or 6
        %td.column-2 1
        %td.column-3 1
      %tr.row-5.odd
        %td.column-1 CLB 7 or 8
        %td.column-2 3
        %td.column-3 3
      %tr.row-6.even
        %td.column-1 CLB 9 or higher
        %td.column-2 6
        %td.column-3 6
  %h4#canadian-work-experience{:style => "padding-top: 60px; margin-top: -60px;"} Canadian Work Experience in the Comprehensive Ranking System
  %p
    Up to 100 points are available for Canadian work experience, making it a key part of the Comprehensive Ranking System for Express Entry. 
    %a#skill_transferability_factors
  %table.table-responsive.table
    %thead
      %tr.row-1.odd
        %th.column-1 Number of years
        %th.column-2 Single candidate
        %th.column-3 With an accompanying spouse/partner
    %tbody.row-hover
      %tr.row-2.even
        %td.column-1 Less than 1
        %td.column-2 0 points
        %td.column-3 0 points
      %tr.row-3.odd
        %td.column-1 1 year
        %td.column-2 40
        %td.column-3 35 for PA; 5 for spouse
      %tr.row-4.even
        %td.column-1 2 years
        %td.column-2 53
        %td.column-3 46 for PA; 7 for spouse
      %tr.row-5.odd
        %td.column-1 3 years
        %td.column-2 64
        %td.column-3 56 for PA; 8 for spouse
      %tr.row-6.even
        %td.column-1 4 years
        %td.column-2 72
        %td.column-3 63 for PA; 9 for spouse
      %tr.row-7.odd
        %td.column-1 5 years or more
        %td.column-2 80
        %td.column-3 70 for PA; 10 for spouse
  .block-headline
    %h3{:id => ""} Skill Transferability Factors
  %p Also known as combination factors, these points are awarded when a candidate performs well in two areas.
  %p A candidate can only be awarded up to 100 points for skills transferability, even if they qualify for more or all points across all the related factors. Moreover, there are subtotal maximums of 50 points for skills transferability factors involving Education, as well as for Foreign (non-Canadian) work experience. In other words:
  %ul
    %li you can’t get more than 100 points overall for skills transferability;
    %li you can’t get more than 50 points for factors relating to Education;
    %li you can’t get more than 50 points for factors relating to Foreign (non-Canadian) work experience; and
    %li 50 points may be awarded for a certificate of qualification in a trade, but the 100-point overall maximum still applies.
  %p No points are available for the skill transferability of a candidate’s spouse or common-law partner, if applicable.
  %h4 Skills transferability factors for Education
  %p
    %strong Education and Canadian Work Experience
  %table.table-responsive.table
    %thead
      %tr.row-1.odd
        %th.column-1 Education
        %th.column-2 1 year of Canadian work experience
        %th.column-3 2 or more years of Canadian work experience
    %tbody.row-hover
      %tr.row-2.even
        %td.column-1 No post-secondary education
        %td.column-2 0
        %td.column-3 0
      %tr.row-3.odd
        %td.column-1 Post-secondary education of 1 year or longer
        %td.column-2 13
        %td.column-3 25
      %tr.row-4.even
        %td.column-1 Two or more post-secondary credentials, at least one of which was 3 or more years in duration
        %td.column-2 25
        %td.column-3 50
      %tr.row-5.odd
        %td.column-1 Master's degree OR a university credential at the level of an entry-to-practice professional degree for an occupation listed in the National Occupational Classification matrix at Skill Level A for which licensing by a provincial regulatory body is required
        %td.column-2 25
        %td.column-3 50
      %tr.row-6.even
        %td.column-1 Doctorate / PhD
        %td.column-2 25
        %td.column-3 50
  %p
    %strong Education and Language Ability
  %table.table-responsive.table
    %thead
      %tr.row-1.odd
        %th.column-1 Education
        %th.column-2 CLB 7 or more on all first official language abilities, with one or more under CLB 9
        %th.column-3 CLB 9 or higher for all language abilities
    %tbody.row-hover
      %tr.row-2.even
        %td.column-1 No post-secondary education
        %td.column-2 0
        %td.column-3 0
      %tr.row-3.odd
        %td.column-1 Post-secondary education of 1 year or longer
        %td.column-2 13
        %td.column-3 25
      %tr.row-4.even
        %td.column-1 Two or more post-secondary credentials, at least one of which was 3 or more years in duration
        %td.column-2 25
        %td.column-3 50
      %tr.row-5.odd
        %td.column-1 Master's degree OR a university credential at the level of an entry-to-practice professional degree for an occupation listed in the National Occupational Classification matrix at Skill Level A for which licensing by a provincial regulatory body is required
        %td.column-2 25
        %td.column-3 50
      %tr.row-6.even
        %td.column-1 Doctorate / PhD
        %td.column-2 25
        %td.column-3 50
  %h4 Skills transferability factors for Non-Canadian Work Experience
  %p
    %strong Non-Canadian Work Experience and Language Ability
  %table.table-responsive.table
    %thead
      %tr.row-1.odd
        %th.column-1 Non-Canadian Work Experience
        %th.column-2 CLB 7 or more on all first official language abilities, with one or more under CLB 9
        %th.column-3 CLB 9 or higher for all language abilities
    %tbody.row-hover
      %tr.row-2.even
        %td.column-1 No non-Canadian work experience
        %td.column-2 0
        %td.column-3 0
      %tr.row-3.odd
        %td.column-1 1 or 2 years of non-Canadian work experience
        %td.column-2 13
        %td.column-3 25
      %tr.row-4.even
        %td.column-1 3 or more years of non-Canadian work experience
        %td.column-2 25
        %td.column-3 50
  %p
    %strong Canadian and non-Canadian Work Experience
  %table.table-responsive.table
    %thead
      %tr.row-1.odd
        %th.column-1 Experience
        %th.column-2 1 year of Canadian work experience
        %th.column-3 2 or more years of Canadian work experience
    %tbody.row-hover
      %tr.row-2.even
        %td.column-1 No non-Canadian work experience
        %td.column-2 0
        %td.column-3 0
      %tr.row-3.odd
        %td.column-1 1 or 2 years of non-Canadian work experience
        %td.column-2 13
        %td.column-3 25
      %tr.row-4.even
        %td.column-1 3 or more years of non-Canadian work experience
        %td.column-2 25
        %td.column-3 50
  %h4 Certificate of Qualification in a Trade and Language Ability
  %table.table-responsive.table
    %thead
      %tr.row-1.odd
        %th.column-1 Certificate of Qualification
        %th.column-2 Points for certificate of qualification + CLB 5 or more on all first official language abilities, one or more under 7
        %th.column-3 CLB 7 or higher on all language abilities
    %tbody.row-hover
      %tr.row-2.even
        %td.column-1 Certificate of qualification in a trade occupation issued by a province
        %td.column-2 25
        %td.column-3 50

.post-content{:id => ""}
  .block-content-block
    .block-headline
      %h3#additional_factors Additional Factors
    %p The maximum available number of CRS points for these additional factors for any one candidate is 600 points.
  %table.table
    %thead
      %tr.row-1.odd
        %th.column-1 Factor
        %th.column-2 Points
    %tbody.row-hover
      %tr.row-2.even
        %td.column-1 Provincial nomination obtained under an Express Entry-aligned Provincial Nominee Program (PNP) stream/category
        %td.column-2 600
      %tr.row-3.odd
        %td.column-1 Qualifying job offer in Senior Management occupation under Major Group 00 of the National Occupational Classification (NOC)*
        %td.column-2 200
      %tr.row-4.even
        %td.column-1 Qualifying job offer in any other skilled occupation (NOC 0, A or B level)*
        %td.column-2 50
      %tr.row-5.odd
        %td.column-1 Completed one-year or two-year study program in Canada
        %td.column-2 15
      %tr.row-6.even
        %td.column-1 Completed three-year/Master's/entry to practice professional degree or Doctorate (PhD) in Canada
        %td.column-2 30
      %tr.row-7.odd
        %td.column-1 French ability of CLB 7 or better AND English ability of CLB 4 or worse (or no English test result at all)
        %td.column-2 25
      %tr.row-8.even
        %td.column-1 French ability of CLB 7 or better AND English ability of CLB 5 or better
        %td.column-2 50
      %tr.row-9.odd
        %td.column-1 Sibling in Canada**
        %td.column-2 15
  %p *Until November, 2016 it was the case that a positive LMIA had to accompany this job offer in order for Comprehensive Ranking System points to be awarded. However, in addition to LMIA-based offers, it is now possible for certain foreign workers in Canada to obtain Comprehensive Ranking System points without a LMIA.
  %p The following table shows which foreign workers in Canada may be able to obtain points for a job offer without a LMIA.
  %table.table
    %thead
      %tr.row-1.odd
        %th.column-1 May receive points
        %th.column-2 Must also obtain a LMIA
    %tbody.row-hover
      %tr.row-2.even
        %td.column-1 NAFTA
        %td.column-2 International Experience Canada (IEC)
      %tr.row-3.odd
        %td.column-1 Intra-Company Transfer
        %td.column-2 Post-Graduation Work Permits
      %tr.row-4.even
        %td.column-1 LMIA-based Work Permits
        %td.column-2 Work Permits issued to Spouses/Common-Law Partners of foreign workers and international students in Canada
      %tr.row-5.odd
        %td.column-1 Canada-Provincial/Territorial issued Work Permits
        %td.column-2 All other Open Work Permits
      %tr.row-6.even
        %td.column-1 Other Work Permits issued under the significant benefit to Canada initiative
        %td.column-2
  %p ** Candidates with a sibling in Canada may be awarded 15 points if the sibling is a Canadian citizen or permanent resident and at least 18 years of age. Up to 15 points only may be awarded for this factor; candidates with more than one sibling in Canada will be awarded 15 points in total, not 15 points per sibling. These points may also be awarded if the candidate’s spouse or common-law partner has a sibling in Canada. The candidate or his or her spouse/common-law partner must share a mother and/or father with the sibling in Canada. This relationship can be through blood, adoption, marriage, or common-law partnership.
  .block-headline
    %h3{:id => ""} How can I boost my CRS score?
  %p
    We’ve created a resource that explains this in detail. Visit our
    %a{:href => "https://moving2canada.com/how-to-improve-your-crs-score/"} How to Improve Your CRS Score
    page for more.