=render partial: 'shared/banner_heading', locals: {heading: 'Canada Calculators 2022'}
.container
  .row
    .col-md-8.mt-5

      .row
        .col-xl-3.col-lg-3.col-md-3.col-sm-4.mb-40
          .impo-links.text-center
            %h4.mt-10
              %a{:href => "/crs-calculator"} Express Entry Canada Requirements
        .col-xl-3.col-lg-3.col-md-3.col-sm-4.mb-40
          .impo-links.text-center
            %h4.mt-10
              %a{:href => ""} Canada Immigration Eligibility
        .col-xl-3.col-lg-3.col-md-3.col-sm-4.mb-40
          .impo-links.text-center
            %h4.mt-10
              %a{:href => "/tax-calculator"} Canada Income Tax
        .col-xl-3.col-lg-3.col-md-3.col-sm-4.mb-40
          .impo-links.text-center
            %h4.mt-10
              %a{:href => "/sinp-points-calculator"} SINP Points Calculator