<ul>
  <% records.each_with_index do |post, index| %>
    <li class="top-stories-list-item">
      <div class="count-button-wrapper">
        <span class="count-button"><%= index + 1 %></span>
      </div>
      <div class="top-stories-links">
        <%= link_to post.title, post, class: 'post-title' %><br/>
      </div>
    </li>
  <% end %>
</ul>