-@videos.each_with_index do |video, index|
  -#.carousel-inner{role: "listbox"}
  -#  .carousel-item{class: index.zero? ? "active": "" }
  .col-lg-3.col-md-12.mb-3
    .card
      .bg-image.hover-overlay.ripple
        =render 'shared/video', data: video
      .card-body
        %h5.card-title
          =link_to video[:title] , video[:url], class: 'text-reset no-underline', target: '_blank'