html {
  background-color: $white;
}
body,button,input,select,textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: $white;
  line-height: 1.5;
  font-weight: 400;
}

// body,button,input,select,textarea {
//     font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
//     font-weight: 400;
//     text-transform: none;
//     font-size: 17px;
//     line-height: 1.5
// }


.side-padding-5 {
  padding: 0 5%;
}

.flex-container {
  display: flex;

  &.f-wrap {
    flex-wrap: wrap;
  }
}

.flex-space-btw {
  justify-content: space-between;
}
