.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 0;
  height: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none;
}




.canada67-calc label,
.snip-calc label {
	display: inline-block;
	cursor: pointer;
	padding: 10px 2px 0px 0px;
	margin-top: 0;
	margin-bottom: 0;

}
.canada67-calc input[type=radio],
.snip-calc input[type=radio] {
	position: absolute;
	visibility: hidden;
	display: none
}
.canada67-calc .radio-group,
.snip-calc .radio-group {
	border: solid 1px #bdbdbd;
	display: inline-block;
	overflow: hidden;

    label{
        padding: 5px 20px;
    }
}

.canada67-calc,
.snip-calc{
    .radio-group{
        .form-check-inline{
            margin-right: 0em;
            border-left: solid 1px #bdbdbd
         }
         .form-check{
             margin-bottom: 0em;
             padding-left: 0em;
         }
    }

}
.canada67-calc label+input[type=radio]+label,
.snip-calc label+input[type=radio]+label {
	border-left: solid 1px #bdbdbd
}
.canada67-calc input[type=radio]:checked+label,
.snip-calc input[type=radio]:checked+label {
	color: #fff;
	background: #d80027
}