/*** Colors ***/
$black: #000000;
$white: #ffffff;
$accent-color: #00ab6b;
$light-gray: rgba(0,0,0,0.44);
$super-light-gray: rgba(0,0,0,0.05);

// social colors
$twitter-blue: #00aced;
$facebook-blue: #3b5998;
$google-red: #dd4b39;

// border color
$border-color: rgba(0, 0, 0, 0.1);
$light-border-color: #f0f0f0;
$border-hover-color: rgba(0, 0, 0, 0.3);

// font color
$light-font-color: rgba(0,0,0,0.6);
$font-black: rgba(0,0,0, 0.8);
$super-light-font-color: $border-hover-color;

// button color
$button-green: #02b875;

// background color
$background-gray: #fafafa;

// Progress bar (on page change)
$progress-bar: #9EFD38;

// border radius
$radius: 3px;
$popover: 4px;
$round: 50%;
$button: 20px;

/*** Font Stacks ***/
$main-stack: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$reading-stack: 'Lora', Georgia, serif;

/*** Z-index ***/
$z-popover: 20;
$alert: 9999;
$navbar-fixed-top: 1030;



//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// Font Family
// $font-family-name: "Gordita";
// $heading-font-family-name: "Gordita";
$font-family-name: "Helvetica Neue";
$heading-font-family-name: "Helvetica Neue";

// Colors ---------------

$white: #ffffff;
$black: #000000;
$primary:       #ffc4a0;
$secondary:     #f9c322;

$primary-two:   #ff7d6b;
$secondary-two: #0f034a;

$primary-three:   #a50eff;
$secondary-three: #0f034a;

$primary-four:   #5974ff;
$secondary-four: #0f034a;

$primary-five:   #5138ee;
$secondary-five: #fed74b;

$primary-six:   #5138ee;
$secondary-six: #fed74b;


// Social Color
$android: #7AC157;
$apple: #B8B8B8;
$behance: #1869FF;
$codepen: $black;
$dribbble: #EA4C8A;
$dropbox: #007EE5;
$evernote: #78D525;
$facebook: #4867AA;
$github: #313131;
$google-drive: #1DA462;
$google-earth: #4285F4;
$google-glass: #EA4335;
$google-maps: #5083C3;
$google-play: #01B9FD;
$google-plus: #DD5144;
$google: #4285F4;
$instagram: #B23A94;
$css3: #0277BD;
$html5: #E44D26;
$javascript: #F9DC3D;
$python: #0C9DBF;
$lastfm: #E31B23;
$linkedin: #007BB6;
$paypal: #002F86;
$pinterest: #BD081B;
$pocket: #EF3E56;
$polymer: #F87292;
$rss: #F99C3A;
$share: #2C9CFF;
$stackoverflow: #F38024;
$steam: #15497B;
$twitter: #1DA1F2;
$vk: #5181B8;
$wikipedia: #E9E9E9;
$windows: #0078D6;
$s500px: $black;
$s8tracks: #122D4B;
$amazon: #F79B34;
$blogger: #F06A35;
$delicious: #0000FE;
$disqus: #2E9EFE;
$flattr: #7AB831;
$flickr: #FE0084;
$odnoklassniki: #F58220;
$outlook: #0072C6;
$playstation: #07418E;
$reddit: #FF4500;
$skype: #00A9F0;
$slideshare: #0077B5;
$soundcloud: #FE4900;
$tumblr: #36465D;
$twitch: #6441A4;
$vimeo: #1AB7EA;
$whatsapp: #189D0E;
$xbox: #107C0F;
$yahoo: #4101AF;
$youtube: #FE0000;


$transition--default: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);


// Heading Text
$heading-text-color: $black;
$heading-font-weight: 600;
$heading-text-two: $secondary;
$heading-text-default: $primary;

// Responsive Variables
$xl-device : 'only screen and (min-width: 1500px) and (max-width: 1599px)';
$laptop-device : 'only screen and (min-width: 1200px) and (max-width: 1499px)';
$desktop-device : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$tablet-device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile:'only screen and (max-width: 767px)';
$small-mobile: 'only screen and (max-width: 575px)';
$extra-small-mobile: 'only screen and (max-width: 479px)';