%nav.navbar.navbar-inverse.fixed-top.navbar-admin.navbar-light.bg-light
  .container-fluid.col-md-10.col-md-offset-1
    .navbar-header
      = link_to image_tag('stories-logo.svg', height: 40, alt: "Stories"), root_path
    %ul.nav.navbar-nav.filter-links
      %li.nav-item
      / <li class="nav-item">
      / <a href="/sidekiq">Sidekiq</a>
      / </li>
      %li.nav-item= link_to "Sign out", destroy_user_session_path, method: :delete
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-end
        / <li><haml_silent></haml_silent></li>
        %li.nav-item= link_to "Sign out", destroy_user_session_path, method: :delete
