%section#social-buttons2-f.follow-us{"data-rv-view" => "6210"}
  .container
    .media-container-row
      .col-md-8.align-center.text-center
        %h2.pb-3.mbr-fonts-style.display-2
          FOLLOW US!
        .social-list.pl-0.mb-0
          %section.mb-4
            / Youtube
            %a.btn.btn-primary.btn-floating.m-1{:href => "https://www.youtube.com/channel/UCnsK1dkFytRoVywmcRBu6Rg", :role => "button", :style => "background-color: red;", target: '_blank'}
              %i.fab.fa-youtube
            / Instagram
            %a.btn.btn-primary.btn-floating.m-1{:href => "https://www.instagram.com/loonietales/", :role => "button", :style => "background-color: #ac2bac;", target: '_blank'}
              %i.fab.fa-instagram

            / Facebook
            %a.btn.btn-primary.btn-floating.m-1{:href => "#!", :role => "button", :style => "background-color: #3b5998;", target: '_blank'}
              %i.fab.fa-facebook-f
            / Telegram
            %a.btn.btn-primary.btn-floating.m-1{:href => "https://t.me/loonietles", :role => "button", :style => "background-color: #55acee;", target: '_blank'}
              %i.fab.fa-telegram

            -#/ Linkedin
            -#%a.btn.btn-primary.btn-floating.m-1{:href => "#!", :role => "button", :style => "background-color: #0082ca;"}
            -#  %i.fab.fa-linkedin-in


%footer.bg-light.text-center.text-lg-start


  -#.container.p-4.pb-0
  -#  %form{:action => ""}
  -#    / Grid row
  -#    .row
  -#      / Grid column
  -#      .col-auto.mb-4.mb-md-0
  -#        %p.pt-2
  -#          %strong Sign up for our newsletter
  -#      / Grid column
  -#      / Grid column
  -#      .col-md-5.col-12.mb-4.mb-md-0
  -#        / Email input
  -#        .form-outline.mb-4
  -#          %input#form5Example25.form-control{:type => "email", placeholder: 'Email address'}/
  -#          -#%label.form-label{:for => "form5Example25"} Email address
  -#      / Grid column
  -#      / Grid column
  -#      .col-auto.mb-4.mb-md-0
  -#        / Submit button
  -#        %button.btn.btn-primary.mb-4{:type => "submit"}
  -#          Subscribe
        / Grid column
      / Grid row
  / Grid container
  / Copyright
  -#.text-center.p-3{:style => "background-color: rgba(0, 0, 0, 0.2);"}
  -#  © 2022 Copyright:
  -#  %a.text-dark{:href => "https://mdbootstrap.com/"} LoonieTales.com
  -#/ Copyright
